extends layout
block content
	.right.dash
		a(href='/logout').btn.btn-danger Logout
		a.btn(href='/').btn-warning Home
	label User: #{currentUser.username}
	label    |    
	label Role: #{currentUser.Role}
	br
	br
	.container
		.right.dash
			h2 
				a(href="/newuser") +Users
			ul
				each user, i in dashboard
					li
						a(href="/viewuser?_id=#{user._id}")= user.username
		.right.dash
			h2 
				a(href="/newproject") +Projects
			ul
				each projs, i in projectlist
					li
						a(href="/viewproject?_id=#{projs._id}")= projs.Name
	.container
		.right.dash
			h2 
				a(href="/newtask") +Tasks		
			ul
				each task, i in tasklist
					li
						a(href="/viewtask?_id=#{task._id}")= task.Name
		.right.dash
			h2 
				a(href="/newtimesheet") +Timesheets		
			ul
				each timesheet, i in timesheetlist
					li
						a(href="/viewtimesheet?_id=#{timesheet._id}")= timesheet.Name